<p>

<a href="http://www.pivotlog.net/">Pivot Homepage</a><br />
<a href="http://www.pivotlog.net/forum">Pivot Forums</a><br />
<a href="http://www.pivotstyles.net/">Pivotstyles</a><br />
<a href="http://www.pivotlog.net/help">Pivot Help</a><br /><br />

To change the links in this list, edit the file <tt>'_aux_link_list.html'</tt> in your Pivot's templates folder. You can do this by directly editing the file, or you can go to Administration &raquo; Templates in the Pivot interface.

</p>
