<div class="stuff">
  <h3>Try!</h3>
<div align="center"><img src="http://www.punkey.com/images/mindmanager_pro_6_box.gif" width="102" height="110" align="center" border="0"/></div>
<p> Keeping stuff in your head is soooo oldskool. Get it out! Check out <a href="http://www.punkey.com/pivot/entry.php?id=7081&w=whats_the_next_action">our review of MindManager 6 Pro</a> and try <a href="http://www.mindjet.com/us/download/">MindManager for free</a> the next 30 days!</p>
</div>
