[[diffdate]]
	<div class="content">
		<div class="entry">
			<div class="header">
				<h2 id="post-[[uid]]">[[title]]</h2>
			</div>
			<div class="body">[[introduction]] [[inlinemorelink]]
			[[inlinemore]]
			</div>
		</div>
		<div class="reporter">[[date]] - [[inlinecommentlink]] -  [[singlepermalink:&para;:Permanent link to entry '%title%']] - <a href="http://del.icio.us/post?url=http://www.punkey.com[[entrylink]]&title=[[title]]">Bookmark deze post</a>[[ editlink : ||Edit ]] </div>
		[[inlinecomments]]
	</div>
	<br>