<span class="date_linkdump">[[singlepermalink:&para;:Permanent link to entry '%title%']] [[permalink:&sect;:Permanent link to '%title%' in the archives]]</span><b>[[title]]</b><br />

<p>[[introduction]] [[more]]</p>
<div class="entryfooter_linkdump">[[date:%day%-%month%]] | [[commentlink]]</div>


