<!--
Spam zuigt, comments staan dus nu even uit!

-->
<br />
<form [[hashcash_onsubmit]] method="post" action="[[pivot_dir]]submit.php#message" id="form">
[[hashcash_hiddenfield]]
[[osa]]
	<table border='0' cellspacing='0' cellpadding='0' width="98%" class="commentform">

		<tr>
			<td width='20%'>
				
			</td>
			<td width='5%'>
				
			</td>
			<td width='35%'>
				
			</td>
			<td width='40%'>
				
			</td>
		</tr>
		
		<tr>
			<td>
				[[label:name]]:&nbsp;&nbsp;
			</td>
			<td colspan="2">
				<input type="text" name="piv_name" size="20" class="commentinput [[registered]]" value="[[cookie:name]]" />
			</td>
			<td rowspan="3" valign="top">
				<div style="border-left: 1px solid #000; padding: 4px 8px; margin-left:8px;">
					[[label:remember_info]]
					<br />
					<input type="radio" id="remember" name="piv_rememberinfo" value="yes" [[cookie:remember_yes]] />
					<label for="remember">
						[[label:yes]]
					</label>
					<br />
					<input type="radio" id="forget" name="piv_rememberinfo" value="no" [[cookie:remember_no]] />
					<label for="forget">
						[[label:no]]
					</label>
				</div>
			</td>
		</tr>
		
		<tr>
			<td>
				[[label:email]]:
			</td>
			<td colspan="2">
				<input name="piv_email" type="text" size="30" class="commentinput [[registered]]" value="[[cookie:email]]" />
			</td>
		</tr>
		
		<tr>
			<td>
				[[label:url]]:
			</td>
			<td colspan="2">
				<input name="piv_url" type="text" size="30" class="commentinput [[registered]]" value="[[cookie:url]]" />
			</td>
		</tr>
		
		<tr>
			<td colspan="2">
				[[label:comment]]:
			</td>
			<td colspan="2" align="right">
				[[emotpopup]] /  [[textilepopup]]
			</td>
		</tr>
		
		<tr>
			<td colspan='4'>
				<p>
<textarea name="piv_comment" id="piv_comment" cols="40" rows="5" style="width:99%"  class="commentinput resizable"></textarea>
				</p>
			</td>
		</tr>
		
		<tr>
			<td colspan='4'>
				<input type="hidden" name="piv_code" value="[[code]]" />
				<input type="hidden" name="piv_weblog" value="[[weblogname]]" />
				<input type="submit" name="post" value="[[label:post_comment]]" class="commentbutton" style="font-weight: bold;" />
				<input type="submit" name="preview" value="[[label:preview_comment]]" class="commentbutton" />
				&nbsp; <span style="white-space: nowrap;">( 
				<a href="[[pivot_dir]]user.php">[[label:register]]</a>
				)</span>
				<br />
				<br />
			</td>
		</tr>
		
		<tr>
			<td>
				[[label:notify]]:
			</td>
			<td width="10">
				<input name="piv_notify" type="checkbox" id="piv_notify" value="1" />
			</td>
			<td colspan='2'>
				<label for="piv_notify">
					[[label:notify_yes]]
				</label>
			</td>
			
		</tr>
		
		<tr>
			<td>
				[[label:discreet]]:
			</td>
			<td width="10">
				<input name="piv_discreet" type="checkbox" id="piv_discreet" value="1" />
			</td>
			<td colspan='2'>
				<label for="piv_discreet">
					[[label:discreet_yes]]
				</label>
			</td>
			
		</tr>

		<tr>
			<td colspan='4'>
				<br />
				<small>[[label:disclaimer]]</small>
			</td>
		</tr>
		
	</table>
</form>