<div class="entry">
<h3><span class='date'>[[fulldate: %day% %monthname% %ye% - %hour24%&#58;%minute%]]</span>[[title]]</h3>

[[introduction]] 
[[more]] 

<p class="info">  <span class="poster">[[user:emailtonick]]</span> - <!-- <span class="category">[[category_link:inthisweblog]]</span> --> 
	<span class="comments">[[commentlink]] /  [[trackbacklink:Trackbacks:Trackback (%n%):Trackbacks (%n%)]]</span><!-- - 
	[[permalink:&sect;:Permanent link to '%title%' in the archives]] [[singlepermalink:&para;:Permanent link to entry '%title%']]--> </p>
</div>