<!--
Spam still sucks....comments are temporarily disabled again....
-->
<form method="post" action="[[pivot_dir]]submit.php#message" id="form">
<fieldset id="personalinfo">
<legend>Personal information</legend>
<label for="yourname">[[label:name]] <span class="required">(required)</span>:</label><br /> <input type="text" id="yourname" name="piv_name" size="20" class="commentinput" value="[[cookie:name]]" /><br />
<label for="youremail">[[label:email]]:</label><br /> <input id="youremail" name="piv_email" type="text" size="30" class="commentinput" value="[[cookie:email]]" /><br />
<label for="yoururl">[[label:url]]:</label><br /> <input id="yoururl" name="piv_url" type="text" size="30" class="commentinput" value="[[cookie:url]]" /><br />
</fieldset>
<fieldset>
<legend>Remember your information?</legend>
<input type="radio" id="remember" name="piv_rememberinfo" value="yes" [[cookie:remember_yes]] /><label for="remember">[[label:yes]]</label> 
<input type="radio" id="forget" name="piv_rememberinfo" value="no" [[cookie:remember_no]] /><label for="forget">[[label:no]]</label>
</fieldset>

<fieldset>
<legend>Get notified?</legend>
<input name="piv_notify" type="checkbox" id="piv_notify" value="1" /> <label for="notify">[[label:notify]]</label> 
<input name="piv_discreet" type="checkbox" id="piv_discreet" value="1" /> <label for="forget">[[label:discreet]]</label>
</fieldset>


<fieldset id="yourcomment">
<legend>Comment</legend>
<label for="message">Your message  <span class="required">(required)</span></label>. You can use [[textilepopup]] for mark-up<br />
<textarea id="message" name="piv_comment" cols="40" rows="5" style="width:99%"  class="commentinput resizable"></textarea>
<input type="hidden" name="piv_code" value="[[code]]" />
<input type="hidden" name="piv_weblog" value="[[weblogname]]" />
<input type="submit" name="post" value="[[label:post_comment]]" class="commentbutton" style="font-weight: bold;" />
<input type="submit" name="preview" value="[[label:preview_comment]]" class="commentbutton" />
</fieldset>
<p class="disclaimer">[[label:disclaimer]]</p>
</form>