<div class="entry">
<h3>[[title]]</h3>
[[introduction]] 
[[more]] 
<p class="info">[[fulldate]] - [[singlepermalink:Permanent link]] - <span class="comments">[[commentlink]] [[ editlink : Edit ]]</span></p>
</div>