<div class="entry">
<h2>[[title]]</h2>
[[introduction]] 
[[more]]
<p class="info">[[fulldate]] - [[singlepermalink:Permanent link]]  - <span class="comments">[[commentlink]] [[ editlink : Edit ]]</span></p>
</div>