<h4><span class='date'>[[diffdate]]  [[date]]</span>[[title]]</h4>
[[introduction]] 
[[more]]
<p class="info">  <span class="poster">[[user:emailtonick]]</span> - <span class="comments">[[commentlink]]</span> - [[permalink:&sect;:Permanent link to '%title%' in the archives]] [[singlepermalink:&para;:Permanent link to entry '%title%']]</p>