<form method="post" action="[[pivot_dir]]submit.php#message" id="form">
<fieldset id="personalinfo">
Naam<span class="required">(verplicht)</span>:<br /> 
<input type="text" id="yourname" name="piv_name" size="20" class="commentinput" value="[[cookie:name]]" /><br />
Emailadres:<br /> 
<input id="youremail" name="piv_email" type="text" size="30" class="commentinput" value="[[cookie:email]]" /><br />
Website:<br /> 
<input id="yoururl" name="piv_url" type="text" size="30" class="commentinput" value="[[cookie:url]]" /><br />
</fieldset>
<fieldset>
Je gegevens onthouden?
<input type="radio" id="remember" name="piv_rememberinfo" value="yes" [[cookie:remember_yes]] />Ja
<input type="radio" id="forget" name="piv_rememberinfo" value="no" [[cookie:remember_no]] />Nee
</fieldset>
<fieldset id="yourcomment">
Je reactie <span class="required">(verplicht)</span>. <br />
<textarea id="message" name="piv_comment" cols="40" rows="5" style="width:99%"  class="commentinput"></textarea>
<input type="hidden" name="piv_code" value="[[code]]" />
<input type="hidden" name="piv_weblog" value="[[weblogname]]" />
<input type="submit" name="post" value="[[label:post_comment]]" class="commentbutton" style="font-weight: bold;" />
<input type="submit" name="preview" value="[[label:preview_comment]]" class="commentbutton" />
<!-- (<a href="[[pivot_dir]]user.php">[[label:register]]</a>) -->
<br />[[label:notify]]:
<input name="piv_notify" type="checkbox" id="piv_notify" value="1" />
<label for="piv_notify">[[label:notify_yes]]</label>
[[label:discreet]]:
<input name="piv_discreet" type="checkbox" id="piv_discreet" value="1" />
<label for="piv_discreet">
[[label:discreet_yes]]
</label>
</fieldset>
<p class="disclaimer">[[label:disclaimer]]</p>
</form>