<br />
<form method="post" action="[[pivot_dir]]submit.php#message" id="form">
<table border='0' cellspacing='0' cellpadding='0' width="98%" class="commentform">
<tr>
      <td>[[label:name]]:&nbsp;&nbsp;</td>
      <td><input type="text" name="piv_name" size="20" class="commentinput" value="[[cookie:name]]" /></td>
      <td rowspan="3" valign="top"><div style="border-left: 1px solid #000; padding: 4px 8px; margin-left:8px;">[[label:remember_info]]
          <br />
        <input type="radio" id="remember" name="piv_rememberinfo" value="yes" [[cookie:remember_yes]] /><label for="remember">[[label:yes]]</label> <br />
		<input type="radio" id="forget" name="piv_rememberinfo" value="no" [[cookie:remember_no]] /><label for="forget">[[label:no]]</label>
      </div></td>
</tr><tr>
      <td>[[label:email]]:</td>
      <td><input name="piv_email" type="text" size="30" class="commentinput" value="[[cookie:email]]" /></td>
      </tr><tr>
      <td>[[label:url]]:</td>
      <td><input name="piv_url" type="text" size="30" class="commentinput" value="[[cookie:url]]" /></td>
      </tr><tr><td colspan="2">[[label:comment]]:</td><td align="right">[[emotpopup]] /  [[textilepopup]]</td>
      </tr><tr><td colspan='3'>
<textarea name="piv_comment" cols="40" rows="5" style="width:99%"  class="commentinput"></textarea></td></tr>
      <tr>
        <td colspan='3'>
					<input type="hidden" name="piv_code" value="[[code]]" />
					<input type="hidden" name="piv_weblog" value="[[weblogname]]" />
          <input type="submit" name="post" value="[[label:post_comment]]" class="commentbutton" style="font-weight: bold;" />
          <input type="submit" name="preview" value="[[label:preview_comment]]" class="commentbutton" />
<br />
<br />

        <small>[[label:disclaimer]]</small></td>
      </tr>
</table>
</form>