<h4>[[title]] - [[permalink:&sect;:Permanent link to '%title%' in the archives]] [[singlepermalink:&para;:Permanent link to entry '%title%']]</h4>
[[introduction]] 
[[more]]
<p class="info">[[diffdate]]  [[date]] | [[commentlink]]</p>