[[diffdate]]
<h2 style="clear:both;"><img style="border:0px;margin:0px;" src="[[template_dir]]craft_icon_posting.gif" alt=""/> [[title]] <!-- <span class="date">[[karma:good:<img border="0" src="/designlog/pivot/templates/craft_icon_karma_up.gif" alt="good">]] [[karma:bad:<img border="0" src="/designlog/pivot/templates/craft_icon_karma_down.gif" alt="bad">]] [[permalink:<img border="0" src="/designlog/pivot/templates/craft_icon_archive.gif">:Permanent link to entry '%title%' in the archives]] [[singlepermalink:<img border="0" src="/designlog/pivot/templates/craft_icon_permanent.gif">:Permanent link to entry '%title%']]</span>--></h2>

[[introduction]] [[more]] 
<br/>
<br/>
<!--[[keywords:<p><small>Keywords&#58;  %keywords%</small></p>:, ]] -->
<br style="clear:all;"/>
<br style="clear:all;"/>
<div class="entryfooter"><img src="[[template_dir]]craft_icon_time.gif" alt="time of posting"/> [[date]] | [[user:emailtonick]] | [[via: <a href='%link%' title='%title%'>Via</a> | ]] <img src="[[template_dir]]craft_icon_comment.gif" alt="comments"/> [[commentlink]] <!--| <img src="[[template_dir]]craft_icon_tb.gif" alt="trackback"/> <a href="[[pivot_dir]]includes/tb/tb.php?__mode=list&amp;tb_id=[[uid]]" 
onclick="window.open(this.href, 'trackback', 'width=480, height=480, scrollbars=yes, status=yes'); 
return false">Trackback</a>--></div>