body {	
	width: 750px;
	margin: 0px auto;
	background: url(back.jpg);
	font-family : Georgia, "Times New Roman", Times, serif;
	color: #000000;
	text-align: center;
	}
a {
	text-decoration: underline;
	color: #000000;
	}

a:visited {
	text-decoration: underline;
	color: #000000;
	}

a:active {
	text-decoration: underline;
	color: #000000;
	}

/* The #page attribute controls the main area where the content is contained. The "padding-bottom" attribute is there to prevent any overspill of content in Firefox if the number of entries on the front page does not extend past the menu boxes. The attribute can be removed once there are sufficient entries.*/

#page {
	width: 750px;
	margin-top: 20px;
        padding-bottom: 250px;
	background-color: #ffffff;
	border: 2px solid #8AB;
	text-align: center;
	}

/* The header attributes, for the site title. */

#header {
	height: 100px;
	margin: 10px;
	border: 1px solid #8AB;
	}

.headerleft {
	padding-left: 40px;
	padding-top: 10px;
	font-style: italic;
	float: left;
	text-align: left;
	}

.headertitle {
	font-size: 30pt;
	}
	
.headersubtitle {
	font-size: 15pt;
	padding-left: 40px;
	color: #D37C00;
	}

.headerright {
	float: right;
	width: 250px;
	height: 100px;
	background: url(back.jpg);
	}

/* End of header attributes. */
	

/* The #right attribute is where the blog entries are placed. ".rightbox" controls the main entry area,
".righttitle" controls the entry title, etc. */

#right {
	width: 447px;
	margin-left: 280px;
	border-left: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
	text-align: left;
	}

.rightbox {
	margin-bottom: 40px;
	font-size: 10pt;
	line-height: 12pt;
   	padding: 2em; 
   	line-height: 1.5em;
	background-color: #BDE;
   	border: 1px solid #000000;;
   	border-width: 1px 1px 1px 1px; 
	}

.righttitle {
	width: 170px;
	float: right;
	margin-left: 5px;
	padding: 8px;
	background-color: #ffffff;
   	border: 1px solid #000000;;
   	border-width: 0px 0px 1px 1px; 
	text-align: left;
	font-size: 14pt;
	line-height: 14pt;
	font-weight: bold;
	}
	
.punch2 {
	float: left; 
	width: 140px; 
	margin: 1em 1px 0em -1.7em;
	text-align: left; 
	font-size: 13pt; 
	font-weight: bold; 
	font-style: italic; 
	padding: 1em; 
	background: white; 
	color: black; 
	border: solid black 1px;
	border-width: 1px 1px 0px 0px; }

.date {
	padding-top: 10px;
	font-size: 8pt;
	font-style: italic;
	text-align: right;
	}

.entryfooter {
	width: auto;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: right;
	font-family : Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt;
	}

.entryfooter a {
	border-bottom: 2px solid #c0c0c0;
	color: #cc0000;
	text-decoration: none;
	text-transform: uppercase;
	}

.entryfooter a:visited {
	color: #cc0000;
	text-decoration: none;
	}

.entryfooter a:active {
	color: #cc0000;
	text-decoration: none;
	}

/* End of the #right attributes. */


/* The #left attribute is where the miscellaneous content is placed. ".leftbox" controls the content area, ."lefttitle" controls the content title, etc. */

#left {
	width: 265px;
	float: left;
	border-left: 10px solid #ffffff;
	font-size: 9pt;
	text-align: left;
	}

.leftbox {

	border: 1px solid #D37C00;
   	border-width: 1px 1px 1px 1px; 
	font-size: 9pt;
	line-height: 12pt;
   	padding: 1em; 
   	line-height: 1.7em;
   	margin-bottom: 40px;
   	margin-left: 15px;
	}

.lefttitle {
	width: 150px;
	float: left;
	position: relative;
	margin-top: -10px;
        left: -30px;
	background-color: #D37C00;
	padding: 5px;
	font-size: 13pt;
   	}
   	
   /* The search box. */

.searchbox { 
	width: 10em; 
	font-size: 10px;
	border: 1px solid #D37C00;
	}

.searchbutton {
	border: 1px solid #000;
	font-size: 10px;
	}

	/* Calendar appearances.*/

.calendar { 
	padding: 1px 5px;
	margin: 0px;
	font-size: 11px;

}

.calendarHeader { 
	font-weight: bold; 
	color: #000;                   
	background: #ffffff;
	margin:0px;
	padding: 2px 5px;
	font-size: 11px;

}

.calendartoday { 

	font-weight: bold;
	text-decoration: underline;

}

table.calendar {

/* only the calendar has a line, not the individual cells */
	padding: 0px;
	width: 170px;
	margin-left: 25px;
}

.calendarHeader A, .calendar A {
	font-weight: bold; 
	color: #000000;
	text-decoration: none;
}

.calenderHeader a:hover, .calender a:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}

	/* Attributes for the comment form. */
	

.commentform input {
	margin: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #000000;
	font-family: arial, sans-serif; 
	font-size: 8pt;
	}
	
.commentform textarea {
	margin: 1px 1px 1px 1px;
	padding: 2px 2px 2px 2px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #000000;
	font-family: arial, sans-serif; 
	font-size: 8pt;
	}
	
/* End of the #left attributes. */

/* End of the #page attributes. */

/* The #footer attribute is an empty space below the #page attribute. */

#footer {
	width: 750px;
	height: 20px;
	}