/**************************** Del.icio.us elements ***********************************/
.delicious-posts { width: 17em; }
.delicious-posts ul, .delicious-posts li, .delicious-banner { margin: 0; padding: 0}
.delicious-post { font-size: 0.9em }
.delicious-odd { background-color: #c0c0c0 }
.delicious-banner a { font-size: 40% }
.delicious-posts a:hover { text-decoration: underline }
.delicious-posts a { text-decoration: none; display: block; }
.delicious-post a { color: #0066cc; }
/**************************** Del.icio.us elements ***********************************/

/*******************************************************************************
* mojito_structure.css
* -------------------
* created : August 30, 2004
* copyright : GPL version 2
* creator : Kevin Wetzels
* email : kevin.wetzels@gmail.com
* web : http://legion.gibbering.net/el/
********************************************************************************
*
* This template is free; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
*******************************************************************************/


/**************************** HTML elements ***********************************/
body {
background: #ffffff;
color: #333333;	
margin: 0;
padding: 0;
font: 100% "Verdana",sans-serif;
}

a {
color: #0066cc;	
}

a:hover {
color: #ff6600;	
}

h1 {
margin: 0 0 0 20px;	
letter-spacing: -0.05em;
padding: 0px 0 0 32px;	
background:  url(bg_header.png) no-repeat center left;
font-family: "Garamond",serif;
}

h1 a, h1 a:hover {
text-decoration: none;
color: #ffffff;	
}


h4 {
font-size: 1.1em;	
}

h5 {
margin: 0;	
padding: 5px 0 0 20px;	
font: 1em "Trebuchet MS", sans-serif;
}

/*********************** STYLE SHEET SPECIFICS ********************************/

/* header - holds title and subtitle */
#header {
width: 100%;
margin: 0;
padding: 15px 0;
color: #ffffff;
background: #cc6600 url(bloc.jpg) no-repeat bottom right;
border-bottom: 10px solid #555555;
}

/* main section - the entries go here */
#main {
width: 40%;
font-size: 0.7em;
margin: 0 10px 0 0;
padding: 1% 1% 0 1%;
border-left: 20px solid silver;
border-right: 5px solid #f0f0f0;
float: left;
}

/* wrap each entry in a div */
.entry {
line-height: 1.4em;	
border-bottom: 1px dashed silver;
margin-bottom: 15px;
padding-bottom: 5px;
}

.entry .ad{
float:left;
margin-right:3px;
}

/* special markup for the entry title */
.entry h2  {
margin-top: 0;	
padding-left: 20px;
background: #ffffff url(doc.png) no-repeat center left;	
color: #000000;
font: 2.0em "Georgia", serif;	
}

h2 a, h2 a:hover {
text-decoration: none;
color: #000000;	
}


.entry h3  {
margin-top: 0;	
padding-left: 20px;
color: #000000;
background: #ffffff url(doc.png) no-repeat center left;	
font: 1.4em "Georgia", serif;	
}

.entry h4  {
margin-top: 0;	
color: #000000;
font: 1.4em "Georgia", serif;	
}

/* secondary info: post date, poster, category, number of comments */
blockquote {
	background: url("quote.gif") top left no-repeat;
margin: 20px;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	padding: 10px;
/*	background: #EEE;*/
	color: #666;
}

.entry .info {
color: #666666;	
}

/* attach the comments class to the 'x comments' link to get a comment icon in 
front of it */
.entry .info .comments {
padding-left: 13px;
background: #ffffff url(comment.png) no-repeat center left;	
}

/* use <span class="poster">poster_name</span> to get a im-like icon in
front of the poster's name */
.entry .info .poster {
padding-left: 13px;
background: #ffffff url(person.png) no-repeat center left;	
}

/* same as poster, but use class="category" and you'll get a folder icon
in front of the category */
.entry .info .category {
padding-left: 13px;
background: #ffffff url(folder.png) no-repeat center left;	
}

/* all other information goes here */
#secondary, #stuff {
position: relative;
top: 0;
left: 0;	
width: 190px;	
font-size: 0.7em;
line-height: 1.3em;
float: left;
margin: 0 5px 0 0;
padding: 0 5px 0 0;
border-right: 5px solid #f0f0f0;
}

/* special markup for secondary info headers */
#secondary h3, #stuff h3{
margin: 5px 0 8px 0;	
padding: 0 0 0 22px;
font: bold 1.3em "Trebuchet MS", sans-serif;	
color: #555555;
width: 160px;
}

/* using different classes to outline the different sections */
.links, .linkdump, .archives, .about, .search, .calendar-box, 
#secondary .comments, .referrers, .stuff {
margin-top: 5px;
border-top: 10px solid silver;
}

/* attaching background images to the headers */
#stuff .links h3{
background: #ffffff url(links.png) no-repeat center left;
}

#stuff img, img{
border: 0px none;
}

#stuff .linkdump h3{
background: #ffffff url(linkdump.png) no-repeat center left;
}

#secondary .about h3{
background: #ffffff url(about.png) no-repeat center left;
}

#secondary .archives h3{
background: #ffffff url(archives.png) no-repeat center left;
}

#secondary .search h3{
background: #ffffff url(search.png) no-repeat center left;
}

#secondary .calendar-box h3{
background: #ffffff url(calendar.png) no-repeat center left;
}

#secondary .comments h3{
background: #ffffff url(comments.png) no-repeat center left;
}

#secondary .linkdump h3{
background: #ffffff url(linkdump.png) no-repeat center left;
}

#secondary .stuff h3{
background: #ffffff url(stuff.png) no-repeat center left;
}

#stuff .referrers h3{
background: #ffffff url(referrers.png) no-repeat center left;
}

#stuff .stuff h3{
background: #ffffff url(stuff.png) no-repeat center left;
}

/* a nice footer */
#footer {
width: 100%;
text-align: center;
color: #666666;
clear: both;
}


/* these styles are for the calendar widget */

.calendar { 
padding: 1px 5px;
margin: 0px;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
font-size: 11px;
}





.calendarHeader { 
font-weight: bold; 
color: #000;                   
background: #eee;
margin:0px;
padding: 2px 5px;
font-size: 11px;
}



.calendartoday { 
background-color: #FFFFFF;
font-weight: bold;
text-decoration: underline;
}




table.calendar {

/* only the calendar has a line, not the individual cells */
border: 1px solid #333;
padding:0px;
width: 175px;
}



.calendarHeader a, .calendar a {
font-weight: bold; 
color: #0066cc;
text-decoration: none;
}

/* end of the calendar styles */


/* ACCESSIBILITY CHANGES - JM 2004/11/13 */
/* these hide the accessibility tags to stop the layout from changing */

.pivot-search label { visibility:hidden; display:none; }
.pivot-search legend { visibility:hidden; display:none; }
.pivot-search fieldset { border:0; padding:0; margin:0; }

.hilite { background-color: #ff0; }
.hilite1 { background-color: #ff0; }
.hilite2 { background-color: #f0f; }
.hilite3 { background-color: #0ff; }