

a {
 color: #FF8000;	
}

a:hover {
	color: #BF6000;
}

#header {
	background-color: #247951;
}
	
#subheader {
	background-color: #FFA040;
	border-bottom: 5px solid #FF8000;
}	
	
h1.shadow {
	color: #000;
}

h1.top, h1.top a, h1.top a:hover {
	color: #FFF;
}
	
#subheader h2 {
	color: #000;
}	
	
.column-1 {
	background-color: #FFF;
}

.column-2 {
	background-color: #FFF;	
}	
	
.column-3 {
	background-color: #C2D8CE;
	border-left: 2px solid #08623E;
}	
	
.column-3 a {
	color: #08623E;
}

.column-3 a:hover {
	color: #053C26;
}

	
	
body {
	background-color: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 9pt;
}


#header {
	height: 90px;
	padding: 0px;
}

#subheader {
	height: 40px;
	padding: 0px;

}


div {
	margin: 0px;
}

h1.shadow {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 28pt;
	left: 0px;
	margin: 27px 32px;
	position: absolute;
	top: 0px;
	z-index: 1;
}

h1.top {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 28pt;
	left: 0px;
	margin: 25px 30px;
	position: absolute;
	top: 0px;
	z-index: 2;
}

h1.top a, h1.top a:hover {
	text-decoration: none;
}

h2 {
	border-bottom: solid 1px #AAA;
	margin-top: 0pt;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 12pt;
}


#subheader h2 {
	font-family: "Trebuchet MS", Arial, sans-serif;
	left: 0px;
	margin: 8px 30px;
	position: absolute;
	z-index: 2;
	border: 0px;
}




p, td {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 9pt;

}

#comments p {
	margin-bottom: 3px;
	margin-top: 3px;
}

#comments p.comment-footer{
	margin-top: 3px;
	margin-bottom: 12px;
	color: #666;
	font-style: italic;
}

.column-1 {
	margin-left: 210px;
	margin-right: 200px;
	padding: 10px;
	
}

.column-2 {
	left: 0px;
	position: absolute;
	top: 10px;
	width: 190px;
	border-right: 1px solid #777;
	padding: 0px 9px 0px 0px;
}

/* IE6 needs shifting because column 1 is longest*/
* html .column-2 {
	lef\t: -210px; /* */
}


.column-wide {
	margin-left: 12px;
	margin-right: 200px;
	padding: 10px;
	
}


.column-3 {
	position: absolute;
	right: 0px;
	top: -45px;
	width: 190px;
	padding: 0px;
}

.column-3 h3 {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 10pt;
}



.column-wrap {
	position: relative;
	background-color: #FFF;
	
}


.column-inner {
	padding: 6px;	

}


.date {
	position: relative;
	float:right;
	color: #666;
	font-size: 9pt;
}


.date_linkdump {
	float: right;
	color: #666;
	font-size: 9pt;
}

.date a, .date_linkdump a {
	color: #804000;
	text-decoration: none;
}

.date a:hover, .date_linkdump a:hover {
	color: #FF8000;
	text-decoration: none;
}

.date-entry {
	color: #666;
	font-size: 9pt;
}

.entryfooter {
	margin-top: 6pt;
	margin-bottom: 9pt;
	color : #888;
}

.entryfooter_linkdump {
	border-bottom: 1px solid #AAA;
	padding-bottom: 6pt;
	margin-bottom: 6pt;
	color : #888;
}


/* these styles are for the search boxes */
.searchbox { 
	width: 10em; 
	font-size: 9pt;
}

.searchbutton {
	border: 1px solid #000;
	font-size: 9pt;
}
/* end of search boxes style */

/* these styles are for the calendar widget */
.calendar { 
	padding: 1px 5px;
	margin: 0px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 11px;
}


.calendarHeader { 
	font-weight: bold; 
	color: #000;                   
	background: #DDD;
	margin:0px;
	padding: 2px 5px;
		font-size: 11px;
}

.calendarToday { 
	background-color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
}

	
table.calendar {
/* only the calendar has a line, not the individual cells */
	border: 1px solid #000;
	padding:0px;
	width: 175px;
}

.calendarHeader A, .calendar A {
	font-weight: bold; 
	color: #253A69;
	text-decoration: none;
}
/* end of the calendar styles */
