	body {
		margin:0;
		margin-top:40px;
		margin-bottom:40px;
		padding:0;
		background-color:#CFC5C3;
		color:#000;
		min-width:800px;
		font-family:"Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
	}
	div#wrap {
		background:url(/pivot/templates/craft_main_back.png);
		margin:0 auto;
                padding-bottom:0px;
		width:800px;
		border-top:#666 1px solid;
		border-left:#666 1px solid;
		border-bottom:#eee 1px solid;
		border-right:#eee 1px solid;
	}
	#header {
		margin:0px;
		padding:0px;
                height:228px;
	}
	#banner {
		margin:0 auto;
		padding:0px;
                width:800px;
                height:228px;
                position:absolute;
                z-index:500;
	}
	#bannertext {
                           float:right;
                           color:#fff;
                           line-height:35px;
                           margin-top:190px;
                           margin-right:5px;
                           z-index:501;
                           font-size:16px;
                           font-weight:bold;
	}
	#bannertext a{
                           color:#fff;
                           line-height:35px;
                           z-index:501;
                           font-size:16px;
                           font-weight:bold;
                           text-decoration:none;
	}
	#header img {
		padding:0px;
		margin:0px;
		display:inline;
		border:0px;
	}
	#nav {
                border-top:1px #666 solid;
		padding:5px;
	}
	#main {
		float:left;
		width: 579px;
		font-size:11px;
		margin:0px;
		padding:10px;
	}
	#main h2, #main h3, {
		padding:0 10px;
	}
	#sidebar {
		width:190px;
		margin-left:600px;
	}
	#sidebar img {
		border:none;
	}
	#wrap > #sidebar {
		width:200px;
	}
	#sidebar ul {
		margin-bottom:0;
	}
	#sidebar h3, #sidebar p {
		padding:0 10px;
	}
	#footer {
		clear:both;
                float:bottom;
		padding:0px;
		margin:0px;
		border-none;
                height:60px;
	}
        h2 {
             border-bottom:#ccc 1px dotted;
             font-size:14px;
             font-weight:bold;
             color:#333;
             }
        h3 {
             margin-top:0px;
             border-bottom:#ccc 1px solid;
             font-size:12px;
             font-weight:bold;
             color:#000;
             }
        a  {
             color:#666;
             text-decoration:none;
             }
        a:hover  {
             color:#000;
             text-decoration:underline;
             }
        h2 a:hover {
             background:#000;
             margin:0px;
             padding:0px;
             border:0px;
             }
        .block {
        width: 195px;
        margin-bottom:10px;
        margin-top:4px;
        margin-left:0px;
        float:top;
                }
        .entryfooter {
                          line-height:14px;
                          border-top:#ccc 1px dotted;
                          }
        .pivot-image {
                          border-left:#666 1px solid;
                          border-top:#666 1px solid;
                          border-bottom:#ddd 1px solid;
                          border-right:#ddd 1px solid;
                          }

        .commentinput {
                                 border-bottom:#ddd 1px solid;
                                 border-right:#ddd 1px solid;
                                 border-top:#666 1px solid;
                                 border-left:#666 1px solid;
                               margin:2px;
                              }
        .commentbutton {
                                 border-top:#ddd 1px solid;
                                 border-left:#ddd 1px solid;
                                 border-bottom:#666 1px solid;
                                 border-right:#666 1px solid;
                                 }
	.searchbox, .result-searchbox { 
		width: 170px; 
                                 border-bottom:#ddd 1px solid;
                                 border-right:#ddd 1px solid;
                                 border-top:#666 1px solid;
                                 border-left:#666 1px solid;
                                 margin:10px;
	}	
	.searchbutton, .result-searchbutton {
                width:170px;
		border: 1px solid #000;
		font-size: 11px;
                margin-left:10px;
	}
label { visibility:hidden; display:none; }
legend { visibility:hidden; display:none; }
fieldset { border:0; padding:0; margin:0; }
.commententry {
                       margin-left:40px;
                       margin-bottom:20px;
                       color:#666;
                       background:#fff;
                       padding:10px;
                       border:#ddd 1px solid;
                       }