<h3>Popular articles</h3>
Here are today's most popular articles:<br />
<ol>
<li><a href="http://punkey.com/pivot/entry.php?id=6971">Backpack and GTD</a><br />
<li><a href="http://punkey.com/pivot/entry.php?id=7081">Mindmanager, an excellent GTD tool? Win free licenses!</a>
<li><a href="http://punkey.com/pivot/entry.php?id=7002">Using Backpack and GTD, continued</a><br />
<li><a href="http://punkey.com/pivot/entry.php?id=7080">Scrybe is the killer GTD app?</a>
<li><a href="http://punkey.com/pivot/entry.php?id=6967">Simple Outlook hack may save your day in the future</a>
<li><a href="http://punkey.com/pivot/entry.php?id=7068">Mindjet's MindManager for free</a>
<li><a href="http://punkey.com/pivot/entry.php?id=7069">6 ways to run an effective meeting </a>
<li><a href="http://punkey.com/pivot/entry.php?id=7077">Netvibes GTD tab</a>
<li><a href="http://punkey.com/pivot/entry.php?id=7021">The 5 reasons why The Weekly Review is difficult</a>
<li><a href="http://punkey.com/pivot/entry.php?id=1726">Still digging Evernote?</a>
</ol>
Made possible with <a href="http://www.haveamint.com">Mint</a><br>
<p align="center"><img src="/images/mint-80x15.gif" width="80" height="15" align="middle" border="0" /><p><br />
<br />