/*******************************************************************************
* mojito_structure.css
* -------------------
* created : August 30, 2004
* copyright : GPL version 2
* creator : Kevin Wetzels
* email : kevin.wetzels@gmail.com
* web : http://legion.gibbering.net/el/
********************************************************************************
*
* This template is free; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or
* (at your option) any later version.
*
*******************************************************************************/

/**************************** HTML elements ***********************************/
body, html {
	background: #E0E7EC;
	color: #333333;
	margin: 0;
	padding: 0px 10px;
	font: 1em/1.6em "Verdana", sans-serif;
	background-image: url(vert_grad.png);
	background-position: top center;
	background-repeat: repeat-x;
}

a {
	color: #24B; /* #0066cc; */
	text-decoration: none;
}



a:hover {
	color: #36C; /*#ff6600; */
	text-decoration: underline;
}

h1 {
	margin: 0 0 0 40px;
	padding: 24px 0 0 0;
	font-size: 2.5em;
	font-family:  Garamond, "Times new Roman", serif;
	letter-spacing: 3px;
	font-weight: bold;
	line-height: 1.5em;
}

/* special markup for the entry title */
h3 {
	margin: 0.2em 0 0.6em 0;
	padding-left: 20px;
	background: #ffffff url(doc.png) no-repeat center left;
	color: #333;
	font-size: 1.8em;
	font-family:  Garamond, Georgia, "Times new Roman",serif;
	font-weight: bold;
}

h5 {
	margin: 0 0 0 40px;
	padding: 0px;
	letter-spacing: 1px;
	font: bold 1.4em/1.5em  Garamond, "Times new Roman", serif;
}


h1 a, h1 a:hover {
	text-decoration: none;
	color: #ffffff;
}

h1.top, h5.top {
	color: #FFF;
	margin-top: -1.55em;
	margin-left: 39px;
	padding: 0px;
}

h1.shadow, h5.shadow {
	color: #000;
}


h4 {
	font-size: 1.1em;
	margin: 0.3em 0 0 0;
}


p {
	font: 1em/1.6em "Verdana",sans-serif;
	margin: 0.5em 0;
	border: 0px dashed #0F0;
}

tt {
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	
}

hr {
	margin: 1em 0.1em;
}

.commentinput {
	border: 1px inset #888;
	background-color: #F8F8F8;
	font-size: 1.1em;
}

.commentbutton {
	border: 1px outset #888;
	background-color: #DDD;
}


p.entry-navigation {
	color: #666;
	text-align: center;
	padding-bottom: 0.4em;
}

/*********************** STYLE SHEET SPECIFICS ********************************/

/* Container */
#container {
	border: 1px solid #999;
	max-width: 950px;
	width: expression(document.body.clientWidth > 950? "950px": "auto" );
	margin: 0px auto;
	background-color: #FFF;
}

/* header - holds title and subtitle */
#header {
	width: 100%;
	height: 140px;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background: #000000 url(header.jpg) no-repeat top center;
	border-bottom: 6px solid #777;
}

/* main section. This is the main that is used in 3 column layout */
#main {
	width: 43%;
	font-size: 0.75em;
	line-height: 2.5em;	
	margin: 0 10px 0 0;
	padding: 24px 12px 0 12px;
	float: left;
}

/* main section. This is the main that is used in 2 column layout, and the normal comments */
#main-2columns {
	width: 95%;
	font-size: 0.75em;
	line-height: 2.5em;	
	margin: 0 10px 0 0;
	padding: 24px 12px 0 12px;
	float: left;
}

.pmo {
	white-space: nowrap;
	
}

/* main section. This is the main that is used in the smaller comment popups */
#main-full {
	width: 90%;
	font-size: 0.75em;
	line-height: 2.5em;	
	margin: 0 10px 0 0;
	padding: 24px 12px 0 12px;
	float: left;
}


/* wrap each entry in a div */
.entry {
	line-height: 1.4em;
	border-bottom: 1px dashed #999;
	margin-bottom: 1.5em;
	padding-bottom: 0.8em;
}


/* secondary info: post date, poster, category, number of comments */
.info {
	color: #666666;
}

/* attach the comments class to the 'x comments' link to get a comment icon in 
front of it */
.info .comments {
	padding-left: 13px;
	background: #ffffff url(comment.png) no-repeat center left;
}

/* use <span class="poster">poster_name</span> to get a im-like icon in
front of the poster's name */
.info .poster {
	padding-left: 13px;
	background: #ffffff url(person.png) no-repeat center left;
}

/* same as poster, but use class="category" and you'll get a folder icon
in front of the category */
.info .category {
	padding-left: 13px;
	background: #ffffff url(folder.png) no-repeat center left;
}


/* all other information goes here */
#secondary, #linkdump {
	position: relative;
	top: 0;
	left: 0;
	width: 25%;
	font-size: 0.70em;
	line-height: 1.4em;
	float: left;
	margin: 0 0px 0 0;
	padding: 18px 0px 0 0;
	border: 0px solid #0F0;
}

#secondary p, #linkdump p {
	line-height: 1.4em;
}

/* special markup for secondary info headers */
#secondary h3, #linkdump h3{
	margin: 5px 0 8px 0;
	padding: 0 0 0 22px;
	font: bold 1.8em 	Garamond, Georgia, "Times new Roman",serif;
	color: #555555;
}

/* using different classes to outline the different sections */
.links,  .archives, .about, .search, h3.calendar, .linkdump,
#secondary .comments, .referrers, .stuff {
	margin: 0.3em 0 0.5em !important;
	border-bottom: 0px solid #0FD; 
}

.about-box {
	border: 1px solid #AAA;
	background-color: #BECED6;
	padding: 6px;
	color: #2F446B;
	margin: 0px 5px 15px 15px;	
}

#rssbutton{
	margin: 60 0 150 0px;
	padding: 0px;
}


.misc {
	border: 1px solid #AAA;
	background-color: #DAE3E8;
	padding: 6px;
	color: #2F446B;
	margin: 10px 5px 10px 15px;	
}

/* attaching background images to the headers */
h3.links {
	background: transparent url(links.png) no-repeat center left;
	margin: 0.8em 0 0.2em !important;	
}

h3.linkdump {
	background: transparent url(linkdump.png) no-repeat center left;
}

 h3.about {
	background: transparent url(about.png) no-repeat center left;
	margin: 0 !important;
}

 h3.search {
	background: transparent url(search.png) no-repeat center left;
	margin: 0.8em 0 0.2em !important;
}


h3.archives{
	background: transparent url(archives.png) no-repeat center left;
	margin: 0.8em 0 0.2em !important;	
}


 h3.calendar {
	background: transparent url(calendar.png) no-repeat center left;
	margin: 0.8em 0 0.2em !important;		
}

 h3.comments{
	background: transparent url(comments.png) no-repeat center left;
	margin: 0em 0 0.2em !important;		
}

 h3.referrers{
	background: transparent url(referrers.png) no-repeat center left;
	margin: 0.8em 0 0.2em !important;		
}

 h3.stuff{
	background: transparent url(stuff.png) no-repeat center left;
	margin: 0.8em 0 0.2em !important;		
}

h3 .date {
	font-size: 0.5em;
	float: right;
	font-weight: normal;
	padding-top: 4px;
	padding-right: 8px;
	font-family:	"Verdana", sans-serif;
}

h4 .date {
	font-size: 0.8em;
	float: right;
	font-weight: normal;
	padding-top: 2px;
	padding-right: 8px;
	font-family:	"Verdana", sans-serif;
}


p.comments {
	padding-top: 0.4em;
}

p.comment-footer {
	font-size: 0.9em;
	color: #555;
	padding: 0em 0px 0.6em;
}

/* a nice footer */
#footer {
	width: 100%;
	text-align: center;
	color: #666666;
	clear: both;
}

/* these styles are for the calendar widget */
.calendar {
	padding: 1px 5px;
	margin: 0px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	font-size: 1em;
	background-color: #F8F8F8;
}

.calendarHeader {
	font-weight: bold;
	color: #000;
	background: #eee;
	margin: 0px;
	padding: 2px 5px;
	font-size: 11px;
}

.calendartoday {
	background-color: #FFFFFF;
	font-weight: bold;
	text-decoration: underline;
	border: 1px solid #999;
}

table.calendar {
	/* only the calendar has a line, not the individual cells */
	border: 1px solid #333;
	padding: 0px;
	width: 175px;
}

table.calendar td {
	text-align: center;
}

.calendarHeader a, .calendar a {
	font-weight: bold;
	color: #24B;
	text-decoration: none;
}

/* end of the calendar styles */



.pivot-search label { visibility:hidden; display:none; }
.pivot-search legend { visibility:hidden; display:none; }
.pivot-search fieldset { border:0; padding:0; margin:0; }

.pivot-search-result label { visibility:hidden; display:none; }
.pivot-search-result legend { visibility:hidden; display:none; }
.pivot-search-result fieldset { border:0; padding:0; margin:0; } 

.searchbox {
	border: 1px inset #555;
padding: 2px;	
	background-color: #F8F8F8;
	width: 110px;
}

.searchbutton {
	padding: 0px 3px;
	border: 1px outset #555;
	background-color: #DDD;
	width: 50px;
}

/* this replaces inline style tags */
img.badge { border:0; margin-bottom:2px; }

/* this is a bonus */
a img.badge:hover { border-bottom:1px #314e8c solid; margin-bottom:1px; }

#archief_container{
	background: #F6F5EE;
	border-bottom: 2px solid #D0CBAF;
	margin: 0 0 5px;
	}
#archief_titel{
	font: bold normal 62.5% Tahoma, Sans-Serif;
	padding: 10px;
	font-size: 1em;
	border-bottom: 1px solid #D0CBAF;
	}
.archief{
	font: normal normal 50% Tahoma, Sans-Serif;
	padding: 10px;
	font-size: 1em;
}
