              <tr> 
                <td>&nbsp;</td>
                <td><font face="$pollvars[font_face]" size="1">$pollvars[total_text]: 
                 <font color="#990000">$this->total_votes</font><br>
                 $COMMENT&nbsp;</font></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
