            <tr> 
                <td width="12"><font size="1" face="$pollvars[font_face]"><img src="$pollvars[base_gif]/$image.gif" width="8" height="10"></font></td>
                <td><font size="1" face="$pollvars[font_face]">$key_val -
                  $vote_val</font></td>
              </tr>