<table width="$pollvars[table_width]" border="0" cellspacing="0" cellpadding="1" bgcolor="$pollvars[bgcolor_fr]">
  <tr align="center">
    <td>
      <style type="text/css">
 <!--
  .input { font-family: $pollvars[font_face]; font-size: 8pt}
 -->
</style>
      <font face="$pollvars[font_face]" size="-1" color="#FFFFFF"><b>$pollvars[title]</b></font></td>
  </tr>
  <tr align="center"> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" bgcolor="$pollvars[bgcolor_tab]">
        <tr> 
          <td height="40" valign="middle"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><b>$question</b></font></td>
        </tr>
        <tr align="right" valign="top"> 
          <td>
            <form method="post" name="poll_$poll_id" onsubmit="return poll_results_$poll_id('vote','$pollvars[base_url]/popup.php','Poll','500','350','toolbar=no,scrollbars=yes');">
              <script language="JavaScript">
<!--
function poll_results_$poll_id(action,theURL,winName,winWidth,winHeight,features) {      
    var w = (screen.width - winWidth)/2;
    var h = (screen.height - winHeight)/2 - 20;
    features = features+',width='+winWidth+',height='+winHeight+',top='+h+',left='+w;
    var poll_ident = self.document.poll_$poll_id.poll_ident.value;
    option_id = '';
    for (i=0; i<self.document.poll_$poll_id.option_id.length; i++) {
        if(self.document.poll_$poll_id.option_id[i].checked == true) {
            option_id = self.document.poll_$poll_id.option_id[i].value;
            break;
        }
    }
    option_id = (option_id != '') ? '&option_id='+option_id : '';
    if (action=='results' || (option_id != '' && action=='vote')) {
        theURL = theURL+'?action='+action+'&poll_ident='+poll_ident+option_id;
        poll_popup = window.open(theURL,winName,features);
        poll_popup.focus();
    }
    return false;
}
//-->
        </script>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr valign="top" align="center"> 
                  <td> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="1" align="center">
