                    </table>
                    <input type="hidden" name="action" value="vote">
                    <input type="hidden" name="poll_ident" value="$poll_id">
                    <input type="submit" value="$pollvars[vote_button]" class="input">
                    <br>
                    <br>
<font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><a href="javascript:void(poll_results_$poll_id('results','$pollvars[base_url]/popup.php','Poll','500','350','toolbar=no,scrollbars=yes'))">$pollvars[result_text]</a>
                    </font><br>
                   </td>
                </tr>
              </table>
            </form>
            <font face="$pollvars[font_face]" size="1"><a href="http://www.proxy2.de" target="_blank" title="Advanced Poll">Version $pollvars[poll_version]</a></font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
