        <tr>
          <td width="3%">&nbsp;</td>
          <td><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1">$key_val</font></td>
          <td><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><img src="$pollvars[base_gif]/$image.gif" width="$img_width" height="$pollvars[img_height]"> $vote_percent % ($vote_count)</font></td>
        </tr>
