body {
	background: #b7b7b7;
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 80%;
	margin: 0;
	padding: 0;
	text-align: center;
}


a img {
	border: 1;
}


.hidden {
	display: none;
}


#pageFrame {
	width: 760px;
	margin: 5px auto;
	text-align: left;
	background: #e9e6e3;
}

#topFrame {
	background: #b7b7b7;
	position: relative;
}


img.dot {
	position: absolute;
	right: -8px;
	top: 0;
	border-bottom: 1px solid gray;
}


#logoFrame {
	text-align: right;
}

.reacties{
	font-size:10px;
	}

.dateBar {
	background: #ffa200 url(site-images/dateheader.jpg) repeat-y left;
/*	border-top: 1px solid #ffd180;*/
	border-bottom: 1px solid #ff6700;
	color: white;
}


.dateBar h2 {
	padding: 5px 7px 6px 7px;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	text-align: right;
}

#navbarFrame {
	background: #d2cdc7;
	width: 150px;
	min-height: 200px;
	height: 200px;
	float: left;

}


#navbarFrame .navbar {
	text-align: right;
	margin: 10px;
	font-size: 90%;
	line-height: 1.45em;
}


.navbar .header {
	margin-top: 10px;
}


html>body #navbarFrame {
	height: auto;
}


#containerFrame {
	background-color: #d2cdc7;
	border-right: 1px solid #bbb6b1;
	border: 1px solid #cc5E5E;
}


#contentFrame {
	background: #e9e6e3;
	margin-left: 150px;
}


#contentFrame .content {
	margin: 10px;
}


html>body #contentFrame .content {
	margin: 0;
	padding: 10px;
}


#footerFrame {
	background-color: #d2cdc7;
	border-right: 1px solid #CC5E5E;
	border-bottom: 1px solid #CC5E5E;
	border-left: 1px solid #CC5E5E;
	clear: both;
	text-align: left;
	font-size: 85%;
}


#footerFrame .footer {
	padding: 10px;
	color: #716f6c;
}


/* Links */


.navbar a:active,
.navbar a:visited,
.navbar a:link {
	color: #313131;
	text-decoration: none;
}


.navbar a:hover {
text-decoration: underline;
}

.navbar .euro2004 a:active,
.navbar .euro2004 a:visited,
.navbar .euro2004 a:link {
	color: #0000FF;
	text-decoration: underline;
	font-size:10px;
}


.navbar .euro2004 a:hover {
color:#FF0000;
text-decoration: underline;
font-size:10px;
}

.footer a:active,
.footer a:visited,
.footer a:link {
	color: #716f6c;
	text-decoration: none;
	font-weight: bold;
}


.footer a:hover {
	text-decoration: underline;
}


/* entries */


.entry .header {
	background-color: #e9e6e3;
	padding: 1em;
	background: #e9e6e3 /*url(site-images/entry_header.jpg) no-repeat top right*/;
	height: 1%;
	border-top: 1px solid #d2cdc7;
	border-bottom: 1px solid #9e9993;
}


.entry .header h2 {
	margin: 0 0 5px 0;
	padding: 0;
	font-size:18px;
	color: #423535;
	letter-spacing: -0.05em;
/*	background-image: url(site-images/ico-post.gif);
	background-repeat: no-repeat;
	background-position:left;
	padding: 0 0 0 12px;
*/
}


.reporter {
	font-size: 85%;
	color: #991a1a;
}


.reporter span {
	color: #ffa200;
}


.entry .body {
	padding: 0.05em 1.5em 1.5em 1em;
	text-align: justify;
	background: #fffffe;
	font-size: 95%;
	line-height: 1.4em;
	border-bottom: 1px solid #9e9993;

}


.entry  a:active,
.entry  a:visited,
.entry  a:link,
.reporter a:active,
.reporter  a:visited,
.reporter  a:link {
	color: #991a1a;
	border-bottom: 1px solid #ffa200;
	text-decoration: none;


}


.entry  a:hover
.reporter a:hover {
	border-bottom: 1px solid #991a1a;
}

/* Comments */

#commentBlock {
	text-align: center;
	margin: 15px 0 0 0;
}

.comment {
	background-color: white;
	color: #423535;
	border: 1px solid #9e9993;
	margin: 0 auto 20px auto;
	height: 1%;
	padding:5px;
}

.comment .text {
	padding: 0 10px 5px 10px;
	text-align: justify;
	min-height: 45px;
}

.comment .text p {
	padding-top: 10px;
}

.comment .number {
	float: left;
	font-size: 200%;
	font-weight: bold;
	margin: 0 15px 0 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #cac5bc;
	padding-top: 10px;

}

html>body .comment .text p {
	padding-top: 0;
}

html>body .comment .number {
	padding-top: 0;
}

.comment .author {
	padding: 5px;
	text-align: right;
	font-size: 90%;
	border-top: 2px solid #ffa200;
	border-bottom: 1px solid #423535;
	color: white;
	background: #cac5bc url(/images/comment_arrow.gif) no-repeat 10px 50%;
}

.comment .author a:link,
.comment .author a:active,
.comment .author a:visited {
	color: white;
	font-weight: bold;
}

.commentForm {
	background: white url(/images/commentForm_bg.gif) repeat-y 0 50%;
	color: #423535;
	border: 1px solid #9e9993;
	margin: 0 auto;
	border-bottom: 2px solid #423535;
	width: 470px;
}

html>body .commentForm {
	width: auto;
}

.commentForm .th {
	float: left;
	width: 124px;
	background-color: #cac5bc;
	text-align: right;
	border-right: 2px solid #ffa200;
	padding: 10px;
	color: white;
	font-weight: bold;
}

.commentForm .td {
	float: left;
	text-align: left;
	width: 291px;
	padding: 10px;
}

.commentForm .tr {
	clear: both;
	border-bottom: 1px solid #9e9993;
	margin: 0;
	padding: 0;
}


/* these styles are for the search boxes */
	.searchbox, .result-searchbox { 
		width: 10em; 
		font-size: 10px;
	}	
	.searchbutton, .result-searchbutton {
		border: 1px solid #000;
		font-size: 10px;
	}
/* ACCESSIBILITY CHANGES - JM 2004/11/13 */
/* these hide the accessibility tags to stop the layout from changing */

.pivot-search label { visibility:hidden; display:none; }
.pivot-search legend { visibility:hidden; display:none; }
.pivot-search fieldset { border:0; padding:0; margin:0; }