body {
margin: 0;
padding: 0;
text-align: center; /*centers the content in IE5/win */
font-family:Verdana,Helvetica,sans-serif;
font-size:11px;
background:url(images/pblback.gif);
background-repeat: repeat-y;
background-position: 50% 0px;
background-color: #666;
}

#wrap {
width: 950px;
margin: 0 auto; /*centers the div in standard browsers */
padding: 0px;
text-align: left;
}

#left {
float:left;
padding: 0px;
width: 152px;
margin: 0px;
}
#main {
margin-left: 152px;
padding: 0px;
margin-top: 0px;
margin-right: 0px;
width: 790px;
} 

#MainMenu {
	height:auto;
  	width: 152px;
	padding:0px;
	}
#MainMenu a   {
  	display: block;
  	width: 140px;
	margin: 0px;
  	}
table   {
    text-align:right;
    margin-left:10px;
    }
td  {
    margin:1px;
    padding:3px;
    border: 1px;
    border-style: dotted;
    }
th  {
    background: #ccc;
    padding:2px;
    text-align:left;
    }
h2 	{
	background: #4f514f;
	color: #ffffff;
	border-left: 1px #FFFFFF solid;
	border-top: 1px #FFFFFF solid;
	border-bottom: 1px #000000 solid;
	border-right: 1px #000000 solid;
	margin-top:0px;
	margin-bottom:3px;
      font-size: 12px;
	line-height: 25px;
	text-align: center;
	}
h5	{
	font-size:14px;
	font-weight:bold;
	}
ul 	{
	margin: 0px;
        padding-left: 0px;
        padding-bottom: 1px;
	}
li 	{
	background: #8b898b;
	border-left: 1px #000000 solid;
	border-top: 1px #CECFCE solid;
	border-bottom: 1px #000000 solid;
	border-right: 1px #000000 solid;
	margin: 0px;
	list-style: none;
	}
#credits {
	margin-top:10px;
	}
#credits li {
        border:none;
        background:none;
	list-style:square;
	margin-left:20px;
        }
#credits li a {
	line-height:12px;
	border:none;
	color:#888;
        }
em 	{
	color: #d7d8d7;
        margin-right:4px;
        margin-left:5px;
	}
ul a 	{
	color : #FFFFFF;
	border-left: 10px #8b898b solid;	
	text-decoration : none;
	line-height:25px;
        font-size: 10px;
    	font-weight:normal;
	}

ul a:hover {
	background: #4f514f;	
	color : #ffff00;
	border-left: 10px #000000 solid;
	}
a   {
    color:#666;
    font-weight:bold;
    text-decoration:none;
    }
a:hover {
    color:#000;
    }
.pbldescription {
    width:500px;
    padding:10px;
    font-style:italic;
    }	

.pbltextinput   {
    width:400px;
    border:#ccc 1px solid;
    }
.pblmessage  {
    width:700px;
    background: #ddcccc;
    padding:10px;
    margin:10px;
    border:#633 1px solid;
    float:left;
    }
.pblbanner  {
    font-size:20px;
    margin:10px;
    }
.pbllog td  {
  font-size: 9px;
  text-align: left;
  border: none;
  }
.log1	{
	background: #dddddd;
	}
.log0	{
	background: #eeeeee;
	}

li img	{
	border:none;
	margin:0px;
	margin-right:5px;
	margin-bottom:3px;
	padding:0px;
	vertical-align:middle;
	}
