#tbgetter {
  height:40px;
  font-family:verdana,helvetica,arial;
  font-size:10px;
  border:1px #ccc solid;
  padding:5px;
  background:#eee;
  overflow:auto;
}
#tbgetter a {
  text-decoration:none;
  font-weight:bold;
  color:#666;
  }
#tbgetter a:hover {
  text-decoration:underline;
  }
