body {
	background-color: #FFFFFF;
	font: 12px/16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 4px;

}

b, strong {
	color: #000;
}

.header1 {
	font-weight: bold;
	font-size: 14px
}

.header2 {
	font-weight: bold;
	font-size: 12px;
	color: #FF0000
}

.header3 {
	font-weight: normal;
	font-size: 12px;
	color: #0000FF
}

.tablerow1 {
	background-color: #BBBBBB;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.mceVisualAid {
	border: 1px dashed #BBBBBB;
}
