                    </table>
                    <input type="hidden" name="action" value="vote">
                    <input type="hidden" name="poll_ident" value="$poll_id">
                    <input type="submit" value="$pollvars[vote_button]" class="input">
                    <br>
                    <br>
                    <a href="$this->form_forward?action=results&amp;poll_ident=$poll_id">$pollvars[result_text]</a>
                
                   </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />