<style type="text/css">
       <!--
        .input { font-family: $pollvars[font_face]; font-size: 10pt}
        .links { font-family: $pollvars[font_face]; font-size: 10pt; color: $pollvars[font_color]}
       -->
      </style>
	
 <table width="$pollvars[table_width]" border="0" cellspacing="0" cellpadding="1" bgcolor="$pollvars[bgcolor_fr]">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="4" align="center" bgcolor="$pollvars[bgcolor_tab]">
        <tr>
          <td height="40" valign="middle"><b>$question</b></font></td>
        </tr>
        <tr valign="top">
          <td>
            <form method="post" action="$this->form_forward">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr valign="top">
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="1">
