       </table>
       <br>
       $pollvars[total_text]: <font color="#CC0000">$this->total_votes<br>
       $VOTE<br>
       </td></tr>
      <tr><td height="2">&nbsp;</td></tr>
     </table>
    </td>
   </tr>
 </table>
</td>
</tr>
</table>
<br />