<style type="text/css">
<!--
 .input { font-family: $pollvars[font_face]; font-size: 8pt}
 .links { font-family: $pollvars[font_face]; font-size: 7.5pt; color: $pollvars[font_color]}
-->
</style>
<table width="$pollvars[table_width]" border="0" cellspacing="0" cellpadding="1" bgcolor="$pollvars[bgcolor_fr]">

<tr>
 <td><table width="100%" border="0" cellspacing="0" cellpadding="2" align="center" bgcolor="$pollvars[bgcolor_tab]">
 <tr valign="middle">
   <td height="40"><b>$question</b></td>
 </tr>
 <tr valign="bottom">
   <td>
     <table border="0" cellspacing="0" cellpadding="1" width="100%" >
       <tr valign="top">
        <td>
         <table width="100%" border="0" cellspacing="0" cellpadding="1">
         