#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxCaption{
	font-size: 0.8em;
	padding-top: 0.4em;
	}
#lightbox img{ border: none; } 
#overlay img{ border: none; }

#overlay{ background-image: url(/extensions/lightbox/overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/extensions/lightbox/overlay.png", sizingMethod="scale");
}
	