 <tr> 
   <td width="11%" align="center"><input type="radio" name="option_id" value="$key"></td>
   <td width="89%"><font face="$pollvars[font_face]" size="1" color="$pollvars[font_color]">$key</font></td>
 </tr>

