<table width="450" border="0" cellspacing="0" cellpadding="2" bgcolor="#CCCCCC">
  <tr>
    <td align="center">
     <style type="text/css">
       <!--
        .input { font-family: $pollvars[font_face]; font-size: 9pt}
       -->
      </style> 
      <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#F6F6F6">
        <tr align="center"> 
          <td colspan="2" height="40"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><b>$question</b></font></td>
        </tr>
        <tr align="center"> 
          <td colspan="2"> 
            <form method="post" action="$this->form_forward">
              <table width="100%" border="0" cellspacing="0" cellpadding="1">
