        <tr> 
          <td colspan="3" valign="bottom" align="center"><b><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1">$pollvars[total_text]: 
            $this->total_votes</font></b></td>
        </tr>
        <tr align="center"> 
          <td colspan="3" valign="top"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1">$VOTE 
            <br>
            $COMMENT</font></td>
        </tr>
        <tr align="right"> 
          <td colspan="3"><font face="$pollvars[font_face]" size="1"><a href="http://www.proxy2.de" target="_blank" title="Advanced Poll">Version $pollvars[poll_version]</a></font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
