<table width="450" border="0" cellspacing="0" cellpadding="2" bgcolor="#CCCCCC">
  <tr>
    <td align="center"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#F6F6F6">
        <tr align="center"> 
          <td colspan="3" height="40"><font face="$pollvars[font_face]" size="1" color="#000000"><b>$question</b></font></td>
        </tr>
