<tr> 
    <td width="14%"><input type="radio" name="option_id" value="$key"></td>
    <td width="86%"><font face="$pollvars[font_face]" size="1" color="$pollvars[font_color]">$key</font></td>
</tr>
