  <tr> 
    <td colspan="2" height="40"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"> 
      $pollvars[total_text]: <font color="#CC0000">$this->total_votes</font>
      <br>$VOTE</font><br><div align="center"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1">$COMMENT</font></div>
    </td>
  </tr>
  <tr align="right" valign="bottom" height="30"> 
    <td colspan="2"><font face="$pollvars[font_face]" size="1"><a href="http://www.proxy2.de" target="_blank" title="Advanced Poll">Version $pollvars[poll_version]</a></font></td>
  </tr>
</table>
