<table width="170" border="0" cellspacing="0" cellpadding="3" bgcolor="#F3F3F3">
  <tr> 
    <td colspan="2" height="25" bgcolor="$pollvars[bgcolor_fr]"><font face="$pollvars[font_face]" color="#FFFFFF" size="1"><b>$question</b></font></td>
  </tr>
