  <tr> 
    <td colspan="2"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1">$key_val</font></td>
  </tr>
  <tr> 
    <td width="52%"><img src="$pollvars[base_gif]/greenbar.gif" width="$img_width" height="7"></td>
    <td width="48%"><font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1">$vote_val</font></td>
  </tr>
