a {
	color: #002299;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #0000AA;
	font-weight: bold;
	text-decoration: underline;
}


body {
	background-image: url(gant/gui_bg.gif);
	background-repeat: repeat-y;
	font: 12px/16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	margin: 0px 0px 0px 130px;
	padding: 0px;
}

h1 {
	color: #B28826;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 4px 0px 4px;
	padding-bottom: 4px;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	color: #B28826;
	font: 14px/15px Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 4px;
}

h3 {
	color: #000000;
	font: 14px/15px Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 4px;
}

p {
	margin: 4px;
}


html>body #links ul li a {
	width: auto;
}

table.tabbox {
	background-color: #CEDEDE;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
}

td {
	font: 12px/16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

td.tab_active {
	background-color: #CEDEDE;
	border-left: 1px solid #000000;
	font-weight: bold;
	padding: 2px;
}



.filename {
	font: 11px/15px "andale mono", courier, "courier new", monospaced;
	font-weight: bold;
	color: #666;
}


.showlog {
	color: #777;
	font-size: 11px;
	margin: 8px 0px 4px 16px;
	padding: 0px 4px 18px 14px;
	background: #FFF;
	background-image: url(gant/bg_shortcuts.gif);
	background-repeat: no-repeat;
}

.showlog A {
	color: #777;
	font-size: 11px;	
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px dashed #CCC;
}

.showlog A:hover {
	color: #333;
	font-size: 11px;
	font-weight: normal;
	border-bottom: 1px solid #333;
	text-decoration: none;
}


.chooseview {
	color: #000;
	font-size: 12px;	
	text-align: right;
	float: right;
	font: 12px/16px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

}




.submenu a {
	font-weight: normal;
	background: #B2C4D0;
	border-bottom: 1px #6D9A9A solid;
	color: #000000;
	display: block;
	margin: 0;
	padding: 4px 6px;
	text-decoration: none;

}

.submenu a:hover {
	font-weight: normal;
	background: #CCD8E0;
	border-bottom: 1px #6D9A9A solid;
	color: #000000;
	text-decoration: none;
}

.topmenu a {
	border-bottom: 1px #3C7878 solid;
	color: #000000;
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 4px 6px;
	text-decoration: none;
}

.topmenu a:hover {
	background: #CCD8E0;
	border-bottom: 1px #3C7878 solid;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}


#thin {
	height: 5px;
}


.menu_active {
	background: #CCD8E0;
}


.dim{
	color: #996633 !important;
}



#links {
	position: absolute;
	top: 0px;
	left: 0px;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0;
	text-align: left;
	width: 120px;
}


#links ul {
	color: #000000;
	list-style: none outside;
	margin: 0;
	padding: 0;
	width: 119px;
}


#links ul li {
	border: none;
	margin: 0;
	padding: 0;

	border-bottom: 1px solid #98B0C0;	
}


.main {
	padding: 12px 12px 12px 24px;
	overflow: visible;
}



.spacer {
	clear: both;
}


.tabular_line_even td, .tabular_line_odd td, .tabular_nav td, .tabular_header td   {
	margin: 0px;
	padding: 2px 6px;
	color: #444;
}


.tabular_header {
	color: #000;
	background: #98B0C0;
	font-weight: bold;
	border-left: 1px solid #3C7878;
}

.tabular_header td {
	color: #000;
	font-size: 10px;
	font-weight: bold;
}

.tabular-lastheader {
	border-bottom: 1px solid #999;
}

.tabular_nav {
	color: #FFF;
	background: #B2C4D0;
	font-weight: bold;
}

.tabular_nav td {
	color: #000 !important;
	font-size: 10px;
	font-weight: bold;
}

.tabular_nav a {
	font-size: 10px;
}



.tabular_line_odd {
	border-bottom: #0CC;
	background: #EEEEEE;
	white-space: nowrap;
	border-left: 1px solid #3C7878;
}

.tabular_line_even {
	border-bottom: #0CC;
	background: #FFF;
	white-space: nowrap;
}

.tabular {
	white-space: nowrap;	
}

.view {
	width: 100%;
}

.tabular_border {
	border: 1px solid #999;
	padding:0px;
	white-space: nowrap !important;
}

.tabular-small {
	font-size: 11px;
	white-space: nowrap;
}

.tabular-small .date {
	font-size: 10px;
	white-space: nowrap;
}



form {
	margin: 0px;
	padding: 0px;
}

input.input {
	background: #F8F8F8;
	border: 1px solid #999;
	font-size: 12px;
	line-height: 12px;
	font-family: "Trebuchet ms", verdana, helvetica, sans-serif;
	padding: 3px 3px 0px 3px;

}

select.input {
		background: #F8F8F8;
	border: 1px solid #999;
	font-size: 12px;
	line-height: 12px;
	font-family: "Trebuchet ms", verdana, helvetica, sans-serif;
	padding: 0px;
}

textarea {
	background: #F8F8F8;
	border: 1px solid #999;
	font: 12px/15px "Trebuchet ms", verdana, helvetica, sans-serif;
	padding: 3px;
}

  /* buttons inside the editor's toolbar */
  .toolbarButton {
	
    border: 1px solid #D6D3CE;
	padding:0px; 
	margin:0px;
  }
  
  /* a cell in the toolbar */  
  .toolbarTd {
	
    padding-left: 2px;
    padding-top:2px;
  }
  
  
  /* the select menu's in the toolbar */
  .toolbarSelect {
	
	font-size: 11px;
	margin-bottom:6px;
  }



/* deze wordt niet gebruikt!! */
.input_textarea {
	background: #08F8F8;
	border: 1px solid #999;
	font: 12px/15px "Trebuchet ms", verdana, helvetica, sans-serif;
	padding: 1px;
}



.button {
	font-weight:bold;
	font: 12px/15px "Trebuchet ms", verdana, helvetica, sans-serif;
	color: #002299;
	height: 22px;
	line-height: 13px;
}


select {
	background: #F8F8F8;
	font: 12px/15px "Trebuchet ms", verdana, helvetica, sans-serif;
	padding: 0px;
}



.hidden {
	visibility:hidden;
	display:none;
}

/* Textarea resizer thingys.. */
hr.resizer {
		cursor: pointer;
		height: 3px;
		margin-top: 1px;
		padding: 0px;
		border-width: 0px;	
		border-top: 3px double #AAA;

}
