/* css Zen Garden submission 174 - 'Simple', by Shawn Chin, http://www.shawnchin.net/ */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */
/* All associated graphics copyright 2005, Shawn Chin */
/* Added: July 9th, 2005 */

/* IMPORTANT */
/* This design is not a template. You may not reproduce it elsewhere without the 
   designer's written permission. However, feel free to study the CSS and use 
   techniques you learn from it elsewhere. */



body {
	text-align:center;
	padding:0;
	margin:1px 0 0;
	font:normal 11px Arial, Helvetica, Sans-serif;
	color:#666;

}

a {
	color:#777;
}

a:hover {
	color:#A77749;
}

h1 {
background-color:#CCCC99;}
