                     <input type="hidden" name="action" value="vote">
                    <input type="hidden" name="poll_ident" value="$poll_id">
                    <input type="submit" value="$pollvars[vote_button]" class="input">
                    <br>
                    <br>
                    <font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><a href="$this->form_forward?action=results&amp;poll_ident=$poll_id">$pollvars[result_text]</a>
                    </font>
            </form>
            <font face="$pollvars[font_face]" size="1"><a href="http://www.proxy2.de" target="_blank" title="Advanced Poll">Version $pollvars[poll_version]</a></font>