<style type="text/css">
<!--
 .input { font-family: $pollvars[font_face]; font-size: 8pt}
 .links { font-family: $pollvars[font_face]; font-size: 7.5pt; color: $pollvars[font_color]}
-->
</style>
<b>$pollvars[title]</b><br />
<font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><b>$question</b></font><br /><br />