       <font face="$pollvars[font_face]" color="$pollvars[font_color]" size="1"><br>
       $pollvars[total_text]: <font color="#CC0000">$this->total_votes</font><br>
       $VOTE<br><br><div align="center">
       $COMMENT&nbsp;</div></font>
    <font face="$pollvars[font_face]" size="1"><a href="http://www.proxy2.de" target="_blank" title="Advanced Poll">Version $pollvars[poll_version]</a></font></td>
