/**
 * these styles are for the calendar widget 
 */


/* only the calendar has a line, not the individual cells */
table.calendar {
	border: 1px solid #444;
	padding: 0px;
	width: 175px;
}


.calendar {
	margin: 0px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 1.3em;
	font-size: 0.9em;
}

.calendar td {
	padding: 3px 3px;
	margin: 0px;
}

.calendar td:hover {
	background-color: #ff6;
}

.calendar th {
	font-weight: bold;
	color: #000;
	background: #ddd;
}

.calendar th a, .calendar a {
	font-weight: bold;
	color: #253a69;
	text-decoration: underline;
}

.calendarToday {
	font-weight: bold;
	text-decoration: underline;
	background-color: #ff9;
	border: 1px solid #999;
}



.calendarHeaderControl {
	font-size:13px;
}
