<table border="0" cellspacing="1" cellpadding="2" width="450">
  <tr bgcolor="#E4E4E4"> 
    <td bgcolor="#F2F2F2"><b><font size="1" face="Verdana, Arial, Helvetica, sans-serif">$data[name]</font></b> 
      <i><font size="1" face="Verdana, Arial, Helvetica, sans-serif">$data[email]</font></i> 
      - <font size="1" face="Verdana, Arial, Helvetica, sans-serif">$data[time]</font><br>
      <font size="1" face="Arial, Helvetica, sans-serif">$data[host] - $data[browser]</font> 
    </td>
  </tr>
  <tr>
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif">$data[message]</font> 
    </td>
  </tr>
  <tr> 
    <td height="15">&nbsp;</td>
  </tr>
</table>
